pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Notebook1",
				"type": "DatabricksNotebook",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/abhishekv8668@gmail.com/practice"
				},
				"linkedServiceName": {
					"referenceName": "ADB_linkedservice",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Notebook",
				"type": "DatabricksNotebook",
				"dependsOn": [
					{
						"activity": "Notebook1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebookPath": "/Users/abhishekv8668@gmail.com/example",
					"baseParameters": {
						"Name": {
							"value": "@activity('Notebook1').output.runOutput",
							"type": "Expression"
						},
						"fileName": {
							"value": "@pipeline().parameters.fileName",
							"type": "Expression"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "ADB_linkedservice",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"fileName": {
				"type": "string"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-11-28T03:46:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}